<div
  tuiCarouselButtons
  class="carousel-wrapper"
  (touchstart.passive.stop)="(0)"
>
  <button
    icon="tuiIconChevronLeftLarge"
    tuiIconButton
    tuiMode="onDark"
    type="button"
    class="tui-space_right-4"
    [disabled]="isLeftButtonDisabled()"
    (click)="scrollLeft()"
  ></button>
  <tui-carousel [(index)]="index">
    @for (fileData of filesData();track trackByLocalUrl) { 
      <div *tuiItem class="carousel-item">
        <app-file-card [fileData]="fileData"></app-file-card>
      </div>
    } @empty {
      <p class="tui-text_body-m">Нет файлов</p>
    }
  </tui-carousel>
  <button
    icon="tuiIconChevronRightLarge"
    tuiIconButton
    tuiMode="onDark"
    type="button"
    class="tui-space_left-4"
    [disabled]="isRightButtonDisabled()"
    (click)="scrollRight()"
  ></button>
</div>
