<div
  class="player"
  [class.tui-skeleton]="showSkeleton()"
>
  <video
    #video
    tuiMedia
    width="320"
    class="video"
    (loadstart)="showSkeleton.set(true)"
    (canplaythrough)="showSkeleton.set(false)"
    [(currentTime)]="currentTime"
    [(paused)]="paused"
    (click)="toggleState()"
  >
    <source
      [src]="sourceUrl()"
      type="video/mp4"
    />
  </video>
  <div
    tuiMode="onDark"
    class="controls"
  >
    <button
      appearance="flat"
      shape="rounded"
      size="s"
      title="Play/Pause"
      tuiIconButton
      type="button"
      [icon]="icon"
      (click)="toggleState()"
    ></button>
    <input
      step="any"
      tuiSlider
      type="range"
      class="slider"
      [max]="video.duration"
      [(ngModel)]="currentTime"
    />
    <div class="time">
      <time [attr.datetime]="getTime(currentTime())">
        {{ getTime(currentTime()) }}
      </time>
      /
      <time [attr.datetime]="getTime(video.duration)">
        {{ getTime(video.duration) }}
      </time>
    </div>
  </div>
</div>
