<div class="file-card">
  @switch (fileData().kind) {
    @case ('Video') {
      <div class="video-wrapper">
        <app-video-player [sourceUrl]="mediaSrc()"></app-video-player>
      </div>
      <p class="tui-text_body-m">{{ fileData().name }}</p>
    } 
    @case ('Photo') {
      <div class="image-wrapper">
        <img [src]="mediaSrc()" [alt]="fileData().name" />
      </div>
      <p class="tui-text_body-m">{{ fileData().name }}</p>
    } 
    @default {
      <p class="tui-text_body-m">Неизвестный тип файла</p>
    }
  }
</div>
